.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.clock span{
    font-size: 6rem;
    color: white;
    display: flex;
    justify-content: center;
    cursor: default;
    text-shadow: 3px 3px 5px black;
}
.dayOfWeek{
    position: relative;
    right: 172px;
}